body {
  text-align: center
}
.data {
  display: none;
}
#mytable {
  clear: both;
  margin: auto;
  width: 75%;
}
.col {
  height: 100px;
  float: left;
}
tbody, tr {
  width: 100%;
}
table, tbody, td, tr {
  display: inline-table;
  border-spacing: 0px;
}
